body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.section__one {
    background-color: #1F2937;
    color: white;

    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 50px;
    flex-wrap: wrap;
    gap: 100px;
}

.section__one__left {
    display: flex;
    flex-direction: column;
}

.section__two {
    margin: 50px 200px;
    font-size: 20px;
}

.section__three {
    background-color: #1F2937;
    border-radius: 10px;
    font-size: 20px;
    color: white;

    display: block;
    padding: 20px 50px 50px;
    margin: 10px 200px;
}

.section__four {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.boxes {
    display: flex;
    gap: 10px;
    margin: 50px 0px;
}

.space__around {
    justify-content: space-around;
}

.space__between {
    justify-content: space-between;
}

.center {
    justify-content: center;
}

.flex__start {
    justify-content: flex-start;
}

.flex__end {
    justify-content: flex-end;
}

.footer {
    background-color: #1F2937;
    color: white;
    font-size: 30px;
    height: 100px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}










.section__one__right__image {
    width: 500px;
    height: auto;
    border-radius: 10px;
}

.section__one__left__buttons {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 20px;
}

.button {
    background-color: #3882F6;
    border-radius: 5px;
    border-color: #3882F6;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;

    width: auto;
    height: 30px;
}

.section__two__ol {
    padding: 0px 20px 20px 20px;
}

.section__two__images {
    width: 400px;
    height: auto;
}

.blue__text {
    color: #3882F6;
}

.red__text {
    color: rgb(255, 0, 51);
}

ul > li {
    padding-bottom: 20px;
}

.box {
    background-color: #1F2937;
    width: 100px;
    height: 200px;
}

.section__four__info {
    font-size: 20px;
    display: flex;
    justify-content: center;
    margin: 100px 0px 50px;
}

a {
    color: white;
    text-decoration: none;
}